/*Universal Styles*/
body {
  background-size: cover;
}
.header-image {
  border-radius: 15px;
  margin-left: 1%;
  margin-right: 1%;
}

h1 {
  text-align: center;
  padding-top: 2%;
  padding-bottom: 12%;
  font-size: 16px;
}

h2 {
  text-align: center;
  font-size: 15px;
  font-family: Helvetica;
}

.blog-name {
  font-size: 2em;

}

.one-third {
  text-align: center;

}

img {
  border-radius: 100%;
  display: inline-block;
  padding: 15px;
  max-width: 80%;
  max-height: 80%;

}


h3 {
  text-align: center;
}

.footer {
  background-color: #edb;
  padding-top: 2%;
  padding-bottom: 2%;
  margin-top: 5%;
  border-radius: 15px;
}
