/*Universal Styles*/
body {
  background-size: cover;
}


h1 {
  background-color: #edb;
  text-align: center;
  padding-top: 4%;
  padding-bottom: 4%;
  border-radius: 15px;
}

.header {
  margin-top: 3%;
  margin-bottom: 8%;
  margin-left: 2%;
  margin-right: 2%;
  border-radius: 5%;
}

h2 {
  text-align: center;
  font-size: 15px;
  font-family: Helvetica;
  margin-left: 2%;
  margin-right: 2%;
}

.blog-name {
  font-size: 2em;

}

.one-third {
  text-align: center;

}

img {
  border-radius: 100%;
  display: inline-block;
  padding: 15px;
  max-width: 80%;
  max-height: 80%;

}


h3 {
  text-align: center;
}

.footer {
  background-color: #edb;
  padding-top: 2%;
  padding-bottom: 2%;
  margin-top: 8%;
  margin-left: 2%;
  margin-right: 2%;
  border-radius: 15px;
}
